#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

export CGO_ENABLED=0

VERSION := $(DEB_VERSION_UPSTREAM)

%:
	dh $@ --with bash-completion

override_dh_auto_build:
	go build -trimpath -ldflags '-s -w -X main.version=$(VERSION)' -o hu ./cmd/hu
	cd cmd/hew && go build -trimpath -ldflags '-s -w -X main.version=$(VERSION)' -o ../../hew .

override_dh_auto_test:
	go test ./...
	cd cmd/hew && go test ./...

override_dh_auto_install:
	install -D -m 0755 hu debian/hew/usr/bin/hu
	install -D -m 0755 hew debian/hew/usr/bin/hew

override_dh_auto_clean:
	rm -f hu hew

override_dh_dwz:
	# dwz fails on Go binaries
